.form-container{
    display: flex;
    /* background-color: gray; */
    margin-top: 15px;
    /* width: 300px; */
    justify-content: center;

}
.form-container input{
    margin: 7px;
    /* display: flex; */

}
