.items{
    background-color: rgba(51, 47, 47, 0.822);
    display: flex;
    justify-content: space-between;
    margin: opx 40px 20px 100px;
}
.filters{
    color:red;
    position: sticky;
    top: 0px;
    z-index: 10;
}

h2{
    margin-bottom: 0;
    padding: 0;
}
.offer{
    /* width: 100px; */
    /* height: 20px; */
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;
}
.items select{
    margin: 10px 30px 20px 30px;
    border-radius: 10px;
    /* width: auto; */
    height: 25px;
}
.foot-container{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    /* grid-auto-rows: 100px; */
    gap: 1em;
    /* flex-wrap: wrap; */
    width: 1200px;
    margin: auto;
    /* border: solid 2px black; */
}
.fooditems{
    width: 250px;
    /* border: solid 2px black; */
}
.dish{
    margin-top: 2%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    padding: 10px;


}
.dish img{
    border-radius: 20px;
    /* padding: 10px; */
    width: 200px;
    height: 200px;
    padding-left: 13px;
    
}
.nofood{
    position: absolute;
    /* border: solid 2px black; */
    padding: 10px;
    text-align: center;
    margin-left: 400px;
}
img+div{
   
    margin-top: -25px;
    margin-left: 30px;
}
.dish:hover{
    box-shadow: 0px 0px 5px 5px gray;
    border-radius: 10px;
}
.dish div p:nth-child(1){
    color: blue;
    font-size: x-large;
    font-weight: bolder;
    letter-spacing: 3px;
}
.dish div p:nth-child(2){
    font-weight: bolder;
}
.dish div p:nth-child(3){
    font-weight: bolder;
    color: green;
}
.dish div p:nth-child(4){
    font-weight: bolder;
    color: red;
}
.formitems{
    /* border: solid 2px black; */
    display: flex;
    justify-content:space-around;
}