*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border:solid 1px blue;
    background:linear-gradient(to right, blue,violet);
}
.form{
    background-color: white;
    border-radius: 20px;
    width: 470px;
    margin: 6% auto 70px auto;
    border: solid 1px white;
}
.form h1{
    margin: 50px auto 50px auto;
    text-align: center;
}
.form input{
    width: 350px;
    height: 50px;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    margin: 10px 12%;
    
}
.form label{
    margin-left: 12%;
}
input:focus{
    border-bottom: 2px solid;
}
.form p{
    margin-left: 60%;
    
}
.form button{
    width: 350px;
    height: 50px;
    padding: 10px;
    color: white;
    border-radius: 20px;
    margin: 50px auto auto 12%;
    background:linear-gradient(to right, blue,violet);
    border: none;
    cursor: pointer;
}

.form .signtext{
    margin: 40px auto auto 35%;
}
.form .signup{

    margin: 30px auto 30px 40%;
    cursor: pointer;
}
.form .icons{
    margin-left: 33%;
    margin-top: 15px;
}
.form .socialLink{
    font-size:20px;
        text-align: center;
        padding-top: 10px;
        border-radius: 60px;
        height: 40px;
        width: 40px;
        margin: 5px 4px;
    
}
.socialLink:hover{
    animation-timing-function: ease-in-out;
    animation: rotate 2s;
}
@keyframes rotate{
    0% {transform:rotate(0deg);}
    /* 25% {transform:rotate(90deg)} */
    /* 50% {transform:rotate(180deg)} */
    /* 75% {transform:rotate(270deg)} */
    100% {transform:rotate(360deg)}
}
.form .icons i:nth-child(1){
    background-color: skyblue;
    color: white;
}
.form .icons #face{
    background-color: rgb(68, 68, 146);
    color: white;
}
.form .icons #insta{
    background-color:   crimson;
    border: solid 1px crimson;
    color: white;
}
