.items{
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin: opx 40px 20px 100px;
}
h2{
    margin-bottom: 0;
    padding: 0;
}
.offer{
    /* width: 100px; */
    /* height: 20px; */
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;
}
.items select{
    margin: 10px 30px 20px 30px;
    border-radius: 10px;
    width: auto;
    height: 25px;
}
.foot-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.dish{
    margin-top: 2%;
    display: flex;
    width: 600px;

}
.dish img{
    border-radius: 10px;
    width: 200px;
    /* height: 200px; */
}
img+div{
   
    margin-top: -25px;
    margin-left: 70px;
}
.dish:hover{
    box-shadow: 0px 0px 5px 5px gray;
    border-radius: 10px;
}
div p:nth-child(1){
    color: blue;
    font-size: x-large;
    font-weight: bolder;
    letter-spacing: 3px;
}
div p:nth-child(2){
    font-weight: bolder;
}
div p:nth-child(3){
    font-weight: bolder;
    color: green;
}
div p:nth-child(4){
    font-weight: bolder;
    color: red;
}
.formitems{
    border: solid 2px black;
    display: flex;
    justify-content:space-around;
}